@{
    ViewBag.Title = "Index";
}

<body>
    Witaj!<br/> To jest prosta aplikacja do zarządzania błędami, zbudowana specjalnie na potrzeby warsztatów 'Lepsze testy - ćwiczenia praktyczne'. Obecnie aplikacja udostępnia REST API. Możesz zobaczyć jak działa używając swaggera (link poniżej).
    <hr/>
    <a href="~/swagger" target="_blank">swagger</a>

</body>